<h2>All Expenses</h2>
<% let costArr = [] %>
<ul>
    <% expenses.forEach(expense => { %>
        <li><%=expense.date%> : $<%=expense.cost%> <a href="/expenses/<%=expense.id%>">view detail</a></li>
        <% costArr.push(expense.cost) %>
    <%})%>
</ul>



<% let total = costArr.reduce((a,b) => a + b, 0)%>
<h3>Total Spend: $<%= total %></h3>


<h4><a href="/expenses/new">Click here to Add a New Expense</a></h4>




