<h1>Add a new god</h1>

<form action="/gods" method="POST">

    <div>
        <label for="Name">Name</label>
        <input type="text" id="Name" name="name" required>
     </div>
    <div>
        <label for="godOf">God Of:</label>
        <input type="text" id="godOf" name="godOf" required>
    </div>
    <div>
        <label for="img_url">Image URL</label>
        <input type="text" id="img_url" name="img_url" required>
    </div>
    
    <input type="submit">

</form>