<h1>Welcome to </h1>
<img src="https://1000logos.net/wp-content/uploads/2022/03/The-Vampire-Diaries-Logo.png" width='400px'/>
<h1>Characters Database</h1>
<p>Here you can keep all the informations from your favorite characters</p>

<a href="/characters">Click to see our galery!</a>