<h2> No one loves Pokemon cards more than me</h2>

<p> My friend and I bought two booster boxes for the new set: Lost Origins </p>
<img src="https://www.digitaltq.com/images/uploads/featured_image/pokemon_tcg_lost_origin_preview.jpg"/>