<h1>Build a Dachshund</h1>
<p>Search for a color or pattern variation</p>

<form method="GET" action="/results">
  <label for="search"></label>
  <input type="text"  id="search" name="movieSearch" />

  <input type="submit" />
</form>