<!-- lists doodles in db -->
<h2> Types of Doodles</h2>

<!-- add links to view each -->

<!-- view each needs to edit /delete -->
<ul> <%/ doodles.forEach((doodle, index)=>{ %>
    <li> <%= doodle.breed %> is known as a <%= doodle.personality %></li>
   
  <!-- edit current doodle -->
     <a href="/doodles/edit/<%index%>">Edit this doodle</a>
     
<!-- adds delete  -->
     <form method="POST" action ="/doodles/<%= index %>/?_method=DELETE">
        <input type="submit" value="Delete">
<% }) %>

</ul>
