<h1>Mixed Martial Artists</h1>

<% martialArtists.forEach(martialArtist => { %>
    <div>
        <a href="/mixedmartialartists/<%= martialArtist.name %>"><%= martialArtist.name %></a>
    </div>
<% }) %>

</br>
</br>
</br>
<a href="/mixedmartialartists/new">Create a new Mixed Martial Artist</a>