<h2> NO ONE LOVES POKEMON CARDS MORE THAN ME.</h2>
<h1>PERIOD.</h1>

<h3> My friend and I bought two booster boxes for the new set:</h3>
<div>
<img src="https://cdn.stayhappening.com/events8/banners/5211abc9475a95b4345402f0fd9bc5d8a39bcce5400feaaa69816e350cc7203a-rimg-w960-h501-gmir.jpg?v=1660249316"/>
<img src="https://den-cards.pokellector.com/350/Giratina-V.SWSH10.186.44843.thumb.png"/>
</div>
<h3>We pulled the chase card of the set. Pull rates are 1/1080!!!</h3>

