<h3> My friend and I recently bought two booster boxes for the new set:</h3>
<div>
<!-- <img src="https://i0.wp.com/centralgamingcorps.com/wp-content/uploads/2022/08/lost-origins.jpg?fit=1400%2C700&ssl=1"/> -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/NbdaDZiwROc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3> <a href="/pokemoncards"> Click to view our pulls! </a> </h3>
</div>

