<!-- lists doodles in db -->
<h2> Types of Doodles</h2>

<!-- add links to view each -->

<!-- view each needs to edit /delete -->
<!-- <ul> <%// doodles.forEach((doodle)=>{ %>
    <li> <%=// doodle %> </li>
    <!-- <p> <img width="500" src="<%= //doodle.image %>">" </p> -->
<%//}) %> -->

</ul>
