<h1>Coffee Recipe API</h1>

<div>
    <a href="/recipes" style="color: #e4bc84;">Click Here for Recipes</a>
</div>

<div>
    <a href="/brewingdevices" style="color: #e4bc84;">Click Here for List of Brewing Devices</a>
</div>

<div>
    <a href="/beans" style="color: #e4bc84;">Click Here for List of Coffee Beans</a>
</div>


