<h1>Welcome to Finda</h1>
  
<a href="/caught">View My Personal Best</a>

<form method="GET" action="/result">
    <label for="search">Search for a species</label>
    <input id="search" name="fishSearch" type="text" />
    <button type="submit">Search</button>
</form>
<%console.log(fish.url)%>
<% fish.forEach(function(fish) { %>
      <p><a href="<%=fish.url%>" target="_blank"><%= fish.name %></a></p>
      <img src="<%=fish.img_src_set['1.5x']%>" />
      <form method="POST" action="caught">
        <label>Caught this fish? Save your stats</label>
        <input hidden type="text" name="name" value="<%=fish.name%>">
        <input type="number" name="length" placeholder="Length in inches">
        <input type="number" name="weight" placeholder="Weight in pounds">
        <button type="submit">Submit</button>
    </form>
  <% }); %>