
<h1 class="titles">Our Galery</h1>

<div id="add">
        <a href="/characters/new">Add to the Galery</a>
    </div>

<div class='well'>
    

    <% characters.forEach(function(character) { %>
        
            <img src="<%= character.img_icon %>" width='40%'/>
            <h2><%= character.name %></h2>
            <h3> <a href="/characters/<%=character.id%>">Click to know more</a></h3>
    
    <% }) %> 
 </div>
