<!DOCTYPE html>
<html>
    <head>
        <title>Greek Gods</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/gods">All Gods and Goddesses</a>
                </li>
                <li>
                    <a href="/gods/new">New God</a>
                </li>
            </ul>
        <h1>Greek Gods and Goddesses</h1>

        <%- body %>

        </nav>



    </body>


</html>