<!DOCTYPE html>
<html>
<head>
  <title> 🦴 Doodle-Base 🦴</title>
</head>
<body>
  <nav>
    <ul> 
        <li>
          <a href = "/doodles">See All The Doodles</a>
        </li>
        <li> 
          <a href = "/doodles/new">Add Your Doodle</a>
        </li>
      </ul>
  </nav>
 <%- body %>
</body>
</html>