<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css"/>
    <title>The Vapire Diaries Fam</title>

  </head>
  <body>
   
    <div class="container">
        <a class="links" href="/">Home</a>
      <%- body %>
    </div>

  </body>
</html>
