<!DOCTYPE html>
<html>
    <head>
        <title>RL hitbox API</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">All Hitboxes</a>
                </li>
                <li>
                    <a href="/new">Add a Hitbox</a>
                </li>
        
        <%- body %>
    </body>
</html>