<!DOCTYPE html>
<html>
    <head>
        <title>F1 Teams</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/drivers">drivers</a>
                </li>

                <li>
                    <a href="/drivers/new">new driver form</a>
                </li>


                <li>
                    <a href="/teams">all teams creatures</a>
                </li>

                <li>
                    <a href="/teams/new">new team form</a>
                </li>
            </ul>
        </nav>

        <h1>I LOVE F1 Racing</h1>

        <%- body %>
    </body>
</html>