<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kingdoms</title>
    <link rel="stylesheet" href="/../css/styles.css">
    
</head>
<body>
    <header>
        <nav>
            <a href="/">HOME</a>
            <div>
                <a href="/kingdoms">KINGDOMS</a>
                <!-- <a href="/kingdoms/Animals">ANIMALS</a>
                <a href="/kingdoms/Plants">PLANTS</a>
                <a href="/kingdoms/Fungi">FUNGI</a>
                <a href="/kingdoms/Protists">PROTISTS</a>
                <a href="/kingdoms/Bacteria">BACTERIA</a>
                <a href="/kingdoms/Viruses">VIRUSES</a> -->
            </div>
            <a href="/organisms/new" id="oLink">ADD ORGANISM</a>
        </nav>
    </header>

    <div id="body">
        <%- body %>

    </div>
    

    
    
</body>
</html>