<h1>Post Painting</h1>

<form action="/paintings/:id" method="POST">
    <label for="name">Painting Name</label>
    <input type="text" name="name">

    <label for="style">Painting Style</label>
    <input type="text" name="style">

    <label for="img_url">Image Link</label>
    <input type="text" name="img_url">

    <label for="artist">Artist Name</label>
    <input type="text" name="artist">

    <button type="submit">Submit New Painting</button>
</form>