<h1>Post New Artist</h1>

<form action="/artists" method="POST">
    <label for="name">Artist Name</label>
    <input type="text" name="name">

    <label for="style">Artist Style</label>
    <input type="text" name="style">

    <button type="submit">Submit New Artist</button>
</form>