<h2>Add to my Collection!</h2>
<div>
<form method="POST" action="/pokemoncards">
    <div>
        <label for="name">Card Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <br>
    <div>
        <label for="img_url">Image URL</label>
        <input type="text" id="img_url" name="img_url" required>
    </div>
    <br>
    <div>
        <label for="rarity">Rarity</label>
        <input type="text" id="rarity" name="rarity" required>
    </div>
    <br>
    <div>
        <input type="submit"></input>
    </div>
</form>
</div>