<h2> Add your doodle here</h2>

<form method="POST" action="/doodles">
    <label for ="doodleBreed">Breed</label>
    <input id ="doodleBreed" type="text" name="breed"/>

    <label for ="personality"> Personality Traits</label>
    <input for = "personality" type="text" name="personality"/>

    <label for="image"> Add a pic url here </label> 
    <input for = "image" type = "text" name="image"/> 
   
    <button type="submit"> Create Doodle</button>
</form>