<!-- create a form to enter a new cusotomer -->
<form method="POST" action="/customers">
    <label for="name">Customer Name:</label>
    <input id="name" type="text" name="name">

    <label for="bookId">bookId:</label>
    <input id="bookId" type="text" name="bookId">

    <label for="quanity">Quanity:</label>
    <input id="quanity" type="text" name="quanity">
    
    <input type="submit">
</form>