<h2>Create a Mixed Martial Artist!</h2>


<!-- need to determine action value -->
<form action="/mixedmartialartists" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="wins">Wins</label>
        <input type="text" id="wins" name="wins" required>
    </div>
    <div>
        <label for="losses">Losses</label>
        <input type="text" id="losses" name="losses" required>
    </div>
    <div>
        <label for="weight_class">Weight Class</label>
        <input type="text" id="weight_class" name="weight_class" required>
    </div>

    <input type="submit">
</form>