<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/new">
        <label for="title">Title:</label>
        <input id="title" type="text" name="albumTitle">

        <label for="date">Date:</label>
        <input id="date" type="text" name="releaseDate">

        <label for="label">Label:</label>
        <input id="label" type="text" name="recordLabel">
        
        <label for="artwork">Artwork URL:</label>
        <input id="artwork" type="text" name="albumArtwork">

        <input type="submit" />

    </form>
</body>
</html>