<h2>Add to my Collection!</h2>
<div>
<form method="POST" action="/pokemoncards/new">
    <div>
        <label for="name">Card Name</label>
        <input type="string" name="name" required>
    </div>
    <br>
    <div>
        <label for="img_url">Image URL</label>
        <input type="string" name="img_url" required>
    </div>
    <br>
    <div>
        <label for="rarity">Rarity</label>
        <input type="string" name="rarity" required>
    </div>
    <br>
    <div>
        <input type="submit"></input>
    </div>
</form>
</div>