<h2 class="titles">Add a new Character to our Galery!</h2>
<br>
<br>
<br>
<br>
<br>
<div class="well" >
    <form method="POST" action="/characters" id="new">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <br>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>
        </div>
        <br>
        <div>
            <label for="type">Type:</label>
            <input type="text" id="type" name="type" required>
        </div>
        <br>
        <div>
            <label for="season">Season:</label>
            <input type="text" id="season" name="season" required>
        </div>
        <br>
        <div>
            <label for="img_icon">Image Url:</label>
            <input type="text" id="img_icon" name="img_icon" required>
        </div>
        <br>
        
        <div>
            <input type="submit"></input>
        </div>