<h2>Martial Artist Details</h2>

<h3>Name: <%= martialArtist.name %> </h2>
<h3>Record: <%= martialArtist.wins %>-<%= martialArtist.losses %> </h3>
<h3>Weight Class: <%= martialArtist.weight_class %></h3>




</br>
<a href="/mixedmartialartists">Back</a>
<a href="/">Home</a>