<h1>Welcome to Kingdomns</h1>

<form action="/" method="post">
    <label for="cName">Common Name</label>
    <input type="text" id="cName" name="cName" required>
    <label for="size">Size</label>
    <input type="text" id="size" name="size" required>
    <label for="sName">Scientific Name (uppercase lowercase)</label>
    <input type="text" id="sName" name="sName">

</form>