<h2>Martial Artist Details</h2>

<h3>Martial Artist: <%= martialArtist.name %> </h2>
<h3>Record: <%= martialArtist.wins %>-<%= martialArtist.losses %> </h3>
<h3>Weight Class: <%= martialArtist.weight_class %></h3>





<a href="/">Home</a>