<div id="intro">
    <H1>Welcome to my tiny API</H1>
    <div>
        <p>It's usless, but I'm proud of it none the less.</p>
        <p>Size Guideline <br> Micro | 0 - - - - 5 - - - - 10 | Macro</p>

    </div>
    <img src="https://i.imgur.com/TxBuV3x.png" alt="circle of life">
</div>