<div id="intro">
    <H1>Welcome to my tiny API</H1>
    <div>
        <p>It is usless, but I'm proud of it none the less.</p>
        <p>Please note that the size field requires a number. <br> 0 is microscopic and 10 is a Blue Whale.</p>

    </div>
    <img src="https://i.imgur.com/TxBuV3x.png" alt="circle of life">
</div>