* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: sans-serif;
}

body {
    background-color: navy;
    color: white;
    text-align: center;

}


nav {
    height: 60px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
}

nav a {
    padding: 20px;
    color: salmon;
    text-decoration: none;
    font-size: 30px;
}

#oLink {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin: 30px;
}

.form-section {
    text-align: center;
    font-size: 30px;
    margin: 30px;
    width: 20vw;
    height: 20vh;
    
}

form {
    margin: 0 auto;
    border-radius: 30px;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.3);
    
}

label {
    display: block;
}