<h1>Brewing Device Form:</h1>

<form method="POST" action="/brewingdevices/new">
    <div>
        <label for="name">Brewing Device Name</label>
        <input id="name" type="text" name="name" />    
    </div>

    <div>
        <label for="material">Material:</label>
        <input id="material" type="text" name="material" />
    </div>

    <div>
        <label for="recipeName">Associated Recipe Name:</label>
        <input id="recipeName" type="text" name="recipeName" />
    </div>
    <button type="submit">Submit Brewing Device</button>
</form>