<h2>List of Brewing Devices:</h2>

<a style="color: #e4bc84;" href="/brewingdevices/new">Add a Brewing Device</a>

<hr>

<% showBrewingDevices.forEach(device => { %>
    <div>
        <a style="color: #e4bc84;" href="/brewingdevices/<%= device.id %>"><%= device.name %></a>
    </div>
<% }) %>