<h1>Create a new cartoon</h1>

<form action="/cartoons" method="POST">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
  
    <div class="form-group">
      <label for="year">Year Released:</label>
      <input type="text" class="form-control" id="year" name="year" required>
    </div>
  
    <div class="form-group">
      <label for="episodes">Total Episodes:</label>
      <textarea type="text" class="form-control" id="episodes" name="episodes" required></textarea>
    </div>
  
    <input type="submit" class="btn btn-primary">
  </form>
  
