<h1>Requested Details</h1>
<div class="org-info">
    <h3>Common Name: <%= organism.common_name %></h3>
    <h3>Scientific Name: <%= organism.scientific_name%></h3>
    <h3>Size: <%= organism.size %></h3>
</div>
<div class="ud-div">
    <form method="post" action="">
        <button type="submit" id="leftA" href="">UPDATE</button>|
    </form>
    <form method="post" action="">
        <button type="submit" id="rightA" href="">DELETE</button>
    </form>
</div>
