<h1>Esports API</h1>
<h2>Organizations Routes:</h2>
<ul>
    <li>GET <a href="/organizations">/organizations</a> -- .json of an array of all orgs as objects w/ attributes</li>
    <li>GET <a href="/organizations/1">/organizations/:id</a> -- .json of an object w/ attributes for a specific org using primary key</li>
    <!-- use Postman for below actions if there are no form pages -->
    <li>POST /organizations -- add an org record in postgres w/ attributes:</li>
        <ul>
            <li>name: req.body.name</li>
            <li>founded: req.body.founded</li>
            <li>location: req.body.location</li>
            <li>abbreviation: req.body.abbreviation</li>
        </ul>
    <li>PUT /organizations/:id -- update an org record using primary key w/ attributes:</li>
        <ul>
            <li>name: req.body.name</li>
            <li>founded: req.body.founded</li>
            <li>location: req.body.location</li>
            <li>abbreviation: req.body.abbreviation</li>
        </ul>
    <li>DELETE /organizations/:id -- delete an org record using primary key</li>
</ul>