<h1>Esports API</h1>

<hr>

<h2>Organizations Routes:</h2>
<ul>
    <li>GET <a href="/organizations">/organizations</a> -- .json of an array of all orgs as objects w/ attributes</li>
    <li>GET <a href="/organizations/1">/organizations/:orgId</a> -- .json of an object w/ attributes for a specific org using primary key</li>
    <li>GET <a href="/organizations/1/sponsors">/organizations/:orgId/sponsors</a> -- .json of an array of all sponsors for a specific org</li>
    <!-- use Postman for below actions if there are no form pages -->
    <li>POST /organizations -- add an org record in postgres w/ attributes:</li>
        <ul>
            <li>name: req.body.name (string)</li>
            <li>founded: req.body.founded (date only)</li>
            <li>location: req.body.location (string)</li>
            <li>abbreviation: req.body.abbreviation (string)</li>
        </ul>
    <li>POST /organizations/:orgId/sponsors -- add a sponsor record in postgres w/ attributes:</li>
        <ul>
            <li>name: req.body.name (string)</li>
            <li>founded: req.body.founded (string)</li>
            <li>headquarters: req.body.headquarters (string)</li>
            <li>revenue: req.body.revenue (string)</li>
        </ul>
    <li>PUT /organizations/:orgId -- update an org record using primary key w/ attributes:</li>
        <ul>
            <li>name: req.body.name (string)</li>
            <li>founded: req.body.founded (date only)</li>
            <li>location: req.body.location (string)</li>
            <li>abbreviation: req.body.abbreviation (string)</li>
        </ul>
    <li>DELETE /organizations/:orgId -- delete an org record using primary key</li>
    <li>DELETE /organizations/:orgId/sponsors/:sponsorId -- remove an association between an org record and sponsor record</li>
</ul>

<hr>

<h2>Teams Routes:</h2>
<ul>
    <li>GET <a href="/organizations/1/teams">/organizations/:orgId/teams</a> -- .json of an array of all teams under an org as objects w/ attributes</li>
    <li>GET <a href="/organizations/1/teams/1">/organizations/:orgId/teams/:teamId</a> -- .json of an object w/ attributes for a specific team using primary key</li>
    <!-- use Postman for below actions if there are no form pages -->
    <li>POST /organizations/:orgId/teams/:teamId -- add a team record in postgres w/ attributes:</li>
        <ul>
            <li>name: req.body.name (string)</li>
            <li>created: req.body.created (date only)</li>
            <li>region: req.body.region (string)</li>
            <li>winnings: req.body.winnings (integer)</li>
            <li>organizationId: req.params.orgId (integer)</li>
        </ul>
    <li>PUT /organizations/:orgId/teams/:teamId -- update a team record using primary key w/ attributes:</li>
        <ul>
            <li>name: req.body.name (string)</li>
            <li>created: req.body.created (date only)</li>
            <li>region: req.body.region (string)</li>
            <li>winnings: req.body.winnings (integer)</li>
            <li>organizationId: req.params.orgId (integer)</li>
        </ul>
    <li>DELETE /organizations/:orgId/teams/:teamId -- delete a team record using primary key</li>
</ul>

<hr>

<h2>Sponsors Routes:</h2>
<ul>
    <li>GET <a href="/sponsors">/sponsors</a> -- .json of an array of all sponsors as objects w/ attributes</li>
    <li>GET <a href="/sponsors/1">/sponsors/:sponsorId</a> -- .json of an object w/ attributes for a specific sponsor using primary key</li>
    <li>GET <a href="/sponsors/1/organizations">/sponsors/:sponsorId/organizations</a> -- .json of an array of all orgs under a specific sponsor</li>
    <!-- for creating a new sponsor, see organizations routes (sponsors make more sense being affiliated with an org vs. alone) -->
    <!-- use Postman for below actions if there are no form pages -->
    <li>PUT /sponsors/:sponsorId -- update a sponsor record using primary key w/ attributes:</li>
        <ul>
            <li>name: req.body.name (string)</li>
            <li>founded: req.body.founded (string)</li>
            <li>headquarters: req.body.headquarters (string)</li>
            <li>revenue: req.body.revenue (string)</li>
        </ul>
    <li>DELETE /sponsors/:sponsorId -- delete a sponsor record using primary key</li>
</ul>