<h1><%= world_cups.country %></h1>

<a class="btn btn-primary" href="<%= world_cups.fact%>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  FACT: 
</a>

<a class="btn btn-primary" href="<%= world_cups.year %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  World Cup year: 
</a>
<hr />

<a href="/">&larr; Back Home</a>
