<h2>Categories:</h2>

<ol>
<% categories.forEach(category=> { %>
        <li>
            <%= category.name %> (budget: $<%= category.budget %>) : %>
             <a href="/categories/<%=category.id%>">expenses</a>
        </li>
    <%})%>

</ol>





        <h3>Add a New Category:</h3>
        <form action="/categories" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="budget">Monthly Budget:</label>
                <input type="number" name="budget" id="budget" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>