<h2>List of Categories</h2>

<ul>
    <% categories.forEach(category => { %>
        <li><%= category.name %>: <a href="/categories/<%=category.id%>">expenses</a></li>
    <%})%>
</ul>

<h4>Add a New Category:</h4>
<form action="/categories" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    
    <div class="form-group">
      <label for="budget">Monthly Budget:</label>
      <input type="number" name="budget" id="budget" class="form-control" required>
    </div>
  
    <button type="submit" class="btn btn-primary">Add Category</button>
  </form>
  
