<h2>Categories:</h2>

<ol>
<% categories.forEach(category=> { %>
        <li>
            <%= category.name %> (budget: $<%= category.budget %>) : %>
            <div>
             <a href="/categories/expenses/<%=category.id%>">expenses vs budget</a> </div>
             <div>
             <a href="/categories/merchants/<%=category.id%>">list of merchants</a>
            </div>
        </li>
    <%})%>

</ol>





        <h3>Add a New Category:</h3>
        <form action="/categories" method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div>
                <label for="budget">Monthly Budget:</label>
                <input type="number" name="budget" id="budget" required>
            </div>

            <button type="submit">Add Category</button>
        </form>