<h1>Add a New Job to Track:</h1>

<form method="POST" action="/jobs/new">
    <div>
        <label for="position">Position Title</label>
        <input id="position" type="text" name="name" />
    </div>



</form>