<h2>My Current Applied Jobs:</h2>

<a href="/jobs/new/">Add a New Job to Track</a>


<% showJobs.forEach(job => { %>
    <div>
    <li>
        <a href="/jobs/<%= job.id %>"><%= job.position%></a>
    </li>
    </div>
<% }) %>

