<h1>Recipe Form:</h1>

<form method="POST" action="/recipes/new">
    <div>
        <label for="name">Recipe Name</label>
        <input id="name" type="text" name="name" />    
    </div>

    <div>
        <label for="brewingdevice">Brewing Device:</label>
        <input id="brewingdevice" type="text" name="brewingdevice" />
    </div>
        
    <div>
        <label for="watertemp">Water Temperature:</label>
        <input id="watertemp" type="text" name="watertemp" />
    </div>

    <div>
        <label for="grinder">Grinder:</label>
        <input id="grinder" type="text" name="grinder" />
    </div>

    <div>
        <label for="grindsetting">Grind Setting:</label>
        <input id="grindsetting" type="text" name="grindsetting" />
    </div>

    <div>
        <label for="groundcoffee">Ground Coffee:</label>
        <input id="groundcoffee" type="text" name="groundcoffee" />
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" type="text" name="description"></textarea>
    </div>

    <button type="submit">Submit Coffee Recipe</button>
</form>