<h2>List of Coffee Recipes:</h2>

<a style="color: #e4bc84;" href="/recipes/new">Create a recipe</a>

<hr>

<% showRecipes.forEach(recipe => { %>
    <div>
        <a style="color: #e4bc84;" href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
    </div>
<% }) %>
